[run]
  source = flowdyn
  omit=*/__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    pass
    except ImportError:
    raise AssertionError
    raise NameError
    raise NotImplementedError
    if 0:
    if __name__ == __main__:
    import doctest
    doctest.testmod()