# misc
*.dat
*.pdf
*.bak

# python, Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
.python-version

# build
dist
site
poetry.lock

# project / coverage reports
.codecov_token
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints
Untitled*.ipynb

# Visual Studio Code
.vscode
