# git shorlog -sne --all
J. Gressier <jeremie.gressier@isae-supaero.fr> <jeremie.gressier@isae.fr>
J. Gressier <jeremie.gressier@isae-supaero.fr> <jgressier@users.noreply.github.com>
R. Messahel <messahel.ramzi@gmail.com> <messahel.ramzi@gmail.com>
R. Messahel <messahel.ramzi@gmail.com> <r.messahel@daep-messahel.isae.fr>
T. Boutsikakis <tboutsik@gmail.com> <tboutsik@gmail.com>
T. Boutsikakis <tboutsik@gmail.com> <thanos@localhost.localdomain>
T. Boutsikakis <tboutsik@gmail.com> <aboutsik@imft.fr>
G. Grondin <gilles.grondin@isae.fr> <gilles.grondin@isae.fr>