language: python
python:
  - "3.7"
  - "3.8"
  - "3.9"

install:
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - pip install codecov
  - pip install .

script:
  - pytest --cov-report=xml
  
after_success:
  - codecov
